.user {
  background-color: #373737;
  color: white;
  padding: 1em;
  border-radius: 1em;
  display: flex;
  flex-flow: column;
  align-items: center;
  p {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 8px 0;
    .label {
      color: grey;
    }
  }
}
